*.Rproj*
.Rhistory
.RData
.Ruserdata
*.bib
*.docx
*.gz
*.pdf
internal/
Paper/
figures/
ArGa_Genome.fasta
ArGa_Genome_db*
ArGa_transcriptome.fasta
dqb_141*
dqb141*
dqb_180*
dqb180*
dqb_180*
messages.txt
seq141.fastq
seq180.fastq
MiSeq/figures
merged_filtered_truncated*
.Rproj.user
